.product_info__sizes {
    align-items: flex-end;
}

.button {
    border: 1px solid var(--c-black);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: var(--font-weight-regular);
    font-size: 0.875rem; /* 14px */
    text-align: center;
    background-color: var(--c_white);
    line-height: 160%;
    /*width: 1.5em; !* 24px; *!*/
    /*height: 1.5em; !* 24px; *!*/
    width: auto;
    height: auto;
    padding: 0 0.33em;
    margin-right: 0.5em; /* 8px */
}

.button__active {
    color: var(--c_white);
    background-color: var(--c-black);
}

.button__swatch {
    width: 1em;
    height: 1em;
}

.button__swatch__active {
    border: 1px outset var(--c-primary);
    box-shadow: 0 0 0px 1px white, 0 0 0px 3px var(--c-primary);
}

.interactable {
    cursor: pointer;
}