.container {
    position: relative;
}
.product_card {
    /*width: 386px;*/
    /*height: 444px;*/

    width: 100%;
    height: 100%;

    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    align-items: flex-start;
    position: relative;
}
a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
}
.product_card:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}
.product_image {
    max-width: 100%;
    max-height: 150px;
    align-content: center;
    /*flex: 1;*/
}
.product_name, .product_brand {
    font-weight: var(--font-weight-light);
    font-size: 1.125rem; /* 18px */
    line-height: 160%;

}
.product_price {
    font-weight: var(--font-weight-medium);
    font-size: 1.125rem; /* 18px */
    line-height: 160%;
}
.floating_buy_button {
    margin: 0;
    padding: 0;
    border-style: none;
    width: 2em;
    height: 2em;
    background-color: var(--c-primary);
    border-radius: 100%;
    color: #ffffff;
    position: absolute;
    left: 85%;
    bottom: 12.5%;
    z-index: 1;
    filter: drop-shadow(0px 4px 11px rgba(29, 31, 34, 0.1));
}
.floating_buy_button img {
    width: 55%;
    transform: translate(-5%, 15%);
}
.floating_buy_button:hover {
    cursor: pointer;
    box-shadow: 0 0 40px 11px rgba(168, 172, 176, 0.19);
}

@media screen and (min-width: 450px) {
    .product_image {
        max-height: 250px;
    }
    .floating_buy_button {
        width: 2.75em;
        height: 2.75em;
        /*bottom: 5em;*/
        /*right: 0.75em;*/
    }
    .floating_buy_button img {
        width: 65%;
        transform: translate(-5%, 15%);
    }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1080px) {
    .product_image {
        max-height: 400px;
    }
    .floating_buy_button {
        width: 3.25em; /* 52px */
        height: 3.25em; /* 52px */
        /*bottom: 4.9em;*/
        /*right: 1em;*/
    }
    .floating_buy_button img {
        width: 75%;
        transform: translate(-5%, 10%);
    }
}

@media screen and (min-width: 2560px) {
    .product_image {
        max-height: 500px;
    }
    .floating_buy_button {
        width: 4.25em;
        height: 4.25em;
        /*bottom: 4.9em;*/
        /*right: 1.5em;*/
    }
}