/*TODO: (Optional) refactor CSS for mobile*/
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;

    font-size: 1rem; /* 16px */
    line-height: 120%;
    font-weight: var(--font-weight-regular);
    position: sticky;
    z-index: 5;
}
.navigation {
    text-decoration: none;
}

.category_list, .action_list {
    display: flex;
    list-style: none;
    align-items: center;
}
.category_list {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    top: 3em;
}
.category_list_item:hover {
    color: var(--c-primary);
    cursor: pointer;
    border-bottom: 1px solid var(--c-primary);
    font-weight: var(--font-weight-semibold);
}

.action_list {
    height: 100%;
}
.action_list_item {
    margin-left: 1em !important;
    cursor: pointer;
}
.action_list_item__currency {
    /*width: 42px;*/
    /*width: 40%;*/
    width: 100%;
    height: 29px;
    border: none;

    font-size: 1.125rem;
    font-weight: var(--font-weight-medium);
}
.action_list_item__arrow {
    margin-left: -0.5em;
    transform: translateY(-400%);

    width: 6px;
    height: 3px;
}
.action_list_item_cart {
    width: 20px;
    height: 20px;
}

.logo {
    transform: scale(1);
    position: absolute;
    top: 0;
    left: 0;
}

@media only screen and (min-width: 500px) {
    .header {
        flex-direction: row;
        align-items: center;
        padding: 1.75em 7.3em; /*28px 117px*/

    }

    .navigation {
        flex: 1;
        padding-right: 0.75em;
    }
    .navigation:last-of-type {
        right: 0;
    }
    .navigation:first-of-type {
        margin-right: auto;
    }

    .category_list {
        height: 100%;
        position: static;
        top: 0;
        justify-content: flex-start;
    }
    .category_list_item {
        padding: 1.5em 0.75em;
    }
    .action_list {
        position: static;
        height: 100%;
        justify-content: flex-end;
    }
    .logo {
        position: static;
        margin: auto;
        height: 1.78em; /* 28.62px */
        width: 1.94em; /* 31.18px */
    }
}
