.product_grid {
    border-collapse: separate;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    column-gap: 20px;
    row-gap: calc(1/2 * 103px);
    width: 100%;
    padding: 0 2rem 2rem;
}
@media screen and (min-width: 450px) {
    .product_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1440px) {
    .product_grid {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 8rem 2rem;
        row-gap: 103px;
    }
}
@media screen and (min-width: 2560px) {
    .product_grid {
        grid-template-columns: repeat(4, 1fr);
    }
}